.categories{
  display: grid;
  grid-gap: 3rem;
  height: 100%;

  @media (min-width: 880px) { 
    grid-template-areas: 
    "header header"
    "aside content";
    grid-template-rows: 6rem 1fr;
    grid-template-columns: 31.8rem 1fr;
  }

  @media (max-width: 880px) {
    grid-template-areas: 
    "header"
    "aside"
    "content";
    grid-template-rows: 6rem auto 1fr;
    grid-template-columns: 1ft;
  }
}

.header {
  grid-area: header; 
}

.aside {
  grid-area: aside;
  background-color: var(--clGray-1);

  @media (min-width: 880px) {
    padding: 7rem 2rem;
  }

  @media (max-width: 880px) {
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }

  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.contentWrapper {
  position: relative;
  background-color: var(--clGray-1);

  @media (min-width: 880px) { 
    overflow: auto;
  } 
}

.content {
  grid-area: content;
  display: grid;

  @media (min-width: 1199px) {
    padding: 6rem 8rem;
  }

  @media (min-width: 599px) {
    grid-column-gap: 7.7rem;
    grid-row-gap: 5.7rem;
  }

  @media (min-width: 470px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1199px) {
    padding: 2rem;
  }

  @media (max-width: 599px) {
    grid-gap: 2rem;
  }

  @media (max-width: 470px) {
    grid-template-columns: 1fr;
  }
}

.asideRow {
  @media (min-width: 880px) {
    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }

  @media (min-width: 599px) and (max-width: 880px) {
    flex-grow: 1;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  @media (max-width: 599px) {
      width: 100%;
      margin-bottom: 1rem;
  }
}

.pokemonModal {
  position: relative;
  z-index: 9991;
  width: 80rem;
  padding: 3rem 2rem;
  background-color: var(--clGray-12);
}

.pokemonModalClose {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s transform;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.3rem;
    background-color: var(--clGray-3);
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  &:hover {
    transform: rotate(90deg);
  }
}

.modalImage {
  width: 32rem;
  margin-right: 2rem;
}

.modalContent {
  display: flex;
}

.modalParams {
  margin-bottom: 4rem;
}

.modalParamsItem {
  font-size: var(--fontSize-2);

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.detailsButton {
  padding: 1rem 2rem;
  background-color: var(--clGray-6);
  font-size: var(--fontSize-2);
  color: var(--clBlack);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s background-color;

  &:hover {
    background-color: var(--clGray-5);
  }
}