:root {
  --clWhite: #ffffff;
  --clBlack: #000000;
  --clRed: red;
  --clGray-1: #FAFAFA;
  --clGray-2: #ECECEC;
  --clGray-3: #A0A0A0;
  --clGray-4: #999999;
  --clGray-5: #EBEBEB;
  --clGray-6: #F2F2F2;
  --clGray-7: #DDDDDD;
  --clGray-8: #969696;
  --clGray-9: #E9E7E7;
  --clGray-10: #C4C4C4;
  --clGray-11: #DBDBDB;
  --fontSize-1: 1.2rem;
  --fontSize-2: 1.8rem;
};