.pokemon {
  padding: 1.6rem 1.4rem;
  background-color: var(--clGray-5);
  font-size: var(--fontSize-1);
}

.image {
  margin-bottom: 1.5rem;
  background-color: var(--clGray-10);
}

.name {
  margin-bottom: 0.8rem;
}