.form {
  display: flex;
  flex-direction: column;
  background-color: var(--clGray-1);

  @media (min-width: 599px) {
    width: 40rem;
    height: 46rem;
    padding: 5.5rem 6rem 4rem;
  }

  @media (max-width: 599px) {
    width: 100%;
    height: 100vh;
    padding: 10rem 2rem;
  }
}

.row {
  margin-bottom: 5rem;
}

.buttonWrap {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;

  @media (min-width: 599px) {
    align-items: flex-end;
  }

  @media (max-width: 599px) {
    align-items: flex-start;
  }
}

.link {
  font-size: var(--fontSize-1);
  color: var(--clBlack);
  text-align: center;
}
